.container{
    background-color: #909090;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 730px;
}

.content-box{
    background-color: white;
    padding: 100px;
    padding-top: 2px;
    border-radius: 16px;
}

.title-page{
    font-size: 40px;
    font-weight: bold;
}

.content-input{
    width: 100%;
    height: 27px;
    font-size: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.input-several{
    display: flex;
    padding:10px;
}

.password-side{
    padding-left: 5px;
    padding-right: 5px;
}

.content-input-half{
    width: 100%;
    height: 27px;
    font-size: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.space-input{
    padding: 15px;
}

.button-simple{
    width: 100%;
    background-color: #D30069;
    color: white;
    text-align-last: center;
    border-radius: 10px;
    font-size: 16px;
    padding: 1px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.button-simple:hover{
    background-color: #e90074;
}

.alert-name{
    font-size: 11px;
    color: red;
    font-weight: bold;
    display: none;
    height: 1px;
    text-align-last: left;
}

.alert-username{
    font-size: 11px;
    color: red;
    font-weight: bold;
    display: none;
    height: 1px;
    text-align-last: left;
}

.alert-email{
    font-size: 11px;
    color: red;
    font-weight: bold;
    display: none;
    height: 1px;
    text-align-last: left;
}

.alert-date{
    font-size: 11px;
    color: red;
    font-weight: bold;
    display: none;
    height: 1px;
    text-align-last: left;
}

.alert-password{
    font-size: 11px;
    color: red;
    font-weight: bold;
    display: none;
    height: 1px;
    text-align-last: left;
}

.alert-password-caracters{
    font-size: 11px;
    color: red;
    font-weight: bold;
    display: none;
    height: 1px;
    text-align-last: left;
}

@media only screen and (max-width: 1100px){

    .container{
        background-color: #909090;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 5%;
        padding-bottom: 5%;
        max-width: 730px;
    }

    .content-box{
        background-color: white;
        padding: 10px;
        padding-top: 2px;
        border-radius: 16px;
    }

    .title-page{
        font-size: 23px;
        font-weight: bold;
    }

    .input-several{
        display:block;
    }
    
    .password-side{
        padding: 10px;
    }

    .content-input{
        width: 90%;
        height: 27px;
        font-size: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .content-input-half{
        width: 87%;
        height: 27px;
        font-size: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}