
.content-home{
    display: flex;
    height: 100vh;
}

.home-left-content{
    width: 25%;
    height: 100px;
}

.home-right-content{
    width: 25%;
    height: 100px;
}

.content-box-home{
    width: 50%;
    background-color: #313131;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.social-page {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
}

.social-section {
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.left-section {
    background-color: #909090;
    width: 50%;
}

.center-section {
    background-color: #313131;
    width: 1500px;
    max-width: 600px;
}

.right-section {
    background-color: #909090;
    width: 50%;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    margin-bottom: 10px;
}

.publication-content button {
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

select {
    width: 100%;
}

.movie-option {
    display: flex;
    align-items: center;
}

.movie-option-poster {
    margin-right: 1
}

@media only screen and (max-width: 1000px){
    .left-section {
        background-color: #909090;
        width: auto;
        display: none;
    }
    
    .center-section {
        background-color: #313131;
        width: 100%;
        margin: auto;
    }
    
    .right-section {
        background-color: #909090;
        width: auto;
        display: none;
    }

    textarea {
        width: 100%;
        padding: 7px;
        border-radius: 5px;
        border: 1px solid gray;
        margin-bottom: 0px;
    }
}


@media only screen and (max-width: 660px){
    .home-left-content{
        display: none;
    }
    
    .home-right-content{
        display: none;

    }
    
    .content-box-home{
        width: 100%;
        background-color: #313131;
        color: white;
    }
}