.publication-content {
    width: 90%;
    background-color: #373737;
    padding: 16px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.content-post-review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.publication-content .publication-text-content {
    display: flex;
}

.publication-content .publication-text-content textarea {
    height: 20px;
    resize: none;
    border: none;
}

.content-conf-review-write {
    display: block;
}

.button-movie-search {
    background: #9d9097;
}

.interactive-into h1 {
    font-size: 14px;
}

.button-cancel {
    display: none;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
}

.button-cancel:hover {
    background-color: transparent;
    color: rgb(153, 150, 150);
}

.button-add-movie {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s;
}

.button-add-movie:hover {
    background-color: rgba(110, 110, 110, 0.527);
    transition: 0.2s;
}

.publication-movie-content {
    display: none;
    width: 100%;
}

.content-add-movie {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.input-search-movie {
    padding: 4px;
    width: 68%;
    height: 28px;
    border: none;
    border-radius: 3px;
    border: none;
    background-color: #494949;
    float: right;
}

.input-search-movie::placeholder {
    color: #a5a5a5;
}

.input-search-movie:focus::placeholder {
    color: #000;
}

.input-search-movie:focus {
    background-color: #fff;
}

.select-movie {
    height: auto;
    width: 100%;
    border: none;
    right: 10px;
    font-size: 14px;
}

.content-reloaded {
    display: flex;
    align-items: center;
    justify-content: center;
}

.publication-content .user-image {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    padding: 0 16px 0 16px;
}

.plus-icon {
    font-size: 20px;
    margin-bottom: -5px;
    padding-right: 10px;
}

.adding-movie {
    margin-top: 8px;
    width: 90%;
    padding: 4px;
    border-radius: 8px;
}

.adding-movie p {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.info-movie-holt {
    margin-left: 8px;
}

.selected-movie {
    width: 80%;
    margin: auto;
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    border-radius: 8px;
    align-items: center;
}

.movie-options-wrapper {
    position: relative;
    width: 69%;
}

.review-full{
    text-align: justify;
    word-break: break-word;
}

.movie-options {
    position: absolute;
    z-index: 10000;
    background-color: #f9f9f9;
    overflow: auto;
    background-color: #494949;
    color: rgb(255, 255, 255);
    border-radius: 0 0 8px 8px;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
}

.movie-option {
    padding: 4px;
}

.movie-option:hover {
    background-color: #6e6e6e;
    cursor: pointer;
}

.input-search-movie-selected {
    background-color: #6e6e6e;
}

.like-button{
    font-size: 20px;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  .loading-icon {
    position: absolute;
    top: 30%;
    right: 18%;
    color: #f808d4;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }


.image-container {
    position: relative;
}


.movie-poster {
    display: block;
    max-width: 100%;
    height: auto;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container:hover .delete-button {
    display: block;
}

.selected-movie {
    position: relative;
}

.selected-movie img {
    border-radius: 8px;
}

select {
    padding: 5px;
    border-radius: 16px;
}

.align-post-review {
    display: none;
}

.post-review-conf {
    padding-top: 8px;
    width: 80%;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-review-conf p {
    font-size: 14px;
}

.post-review-conf #review {
    margin: 8px;
    max-width: 148px;
}

.align-post-review button {
    background-color: #D30069;
    border: none;
    transition: 0.2s;
}

.align-post-review button:hover {
    background-color: #ff0381;
    border: none;
    transition: 0.2s;
}

.button-handleSubmit {
    display: none;
}

.publication-content .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.publication-content .loading-indicator {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #ff0381;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

.movie-indice{
    display: flex;
    font-size: 14px;
    padding: 8px;
    padding-bottom: 15px;
}

.movie-insert{
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.movie-insert:hover{
    color: #ff0381;
    transition: 0.2s;
}

.critic-review-preview{
    display: block;
}

.critic-review{
    display: block;
}

.read-more{
    padding: 5px;
    color: white;
    cursor: pointer;
    text-align: right;
    transition: 0.2s;
}

.read-more:hover{
    color: #ff0381;
    transition: 0.2s;
}

.arrow-display{
    padding-left: 5px;
    margin-bottom: -3px;
}

.user-indice{
    display: flex;
}

.user-insert{
    padding-left: 5px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.user-insert:hover{
    color: #ff0381;
    transition: 0.2s;
}

.user-insert-comment{
    padding-left: 5px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    display:flex;
}

.user-insert-comment:hover{
    color: #ff0381;
    transition: 0.2s;
}

.date-release{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.562);
    margin-top: 3px;
    margin-left: 5px;
}

.date-release{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.562);
    margin-top: 3px;
    margin-left: 5px;
}


.image-review{
    padding-top: 10px;
    border-radius: 8px;
    width: 100%;
}

.rating-content{
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    float: left;
}

.star-critic{
    font-size: 24px;
    display: flex;
}

div .pub-star{
    color: #ff0381b5;
}

div .no-star{
    color: #ffffff;
    cursor: pointer;
}

.rating-text{
    font-size: 14px;
    color: #ffffff;
    transition: color 0.2s ease-in-out;
}

.rating-text:hover{
    color: #ff0381b5;
}

.del-publication{
    border-radius: 100%;
    font-size: 20px;
    position: absolute;
    margin-left: 43%;
    padding: 3px;
    transition: 0.2s;
    cursor: pointer;
}

.del-publication:hover{
    background-color: #494949;
    transition: 0.2s;
}

.options-publication-inside{
    padding: 5px;
    cursor: pointer;
    transition: 0.1s;
}

.options-publication-inside:hover{
    background-color: #ff0381b5;
    transition: 0.1s;
}

.zone-interactive-publication{
    display: flex;
    padding-bottom: 10px;
}

.interactive-into{
    width: 50%;
    text-align-last: center;
    padding: 10px;
    transition: 0.2s;
    border-radius: 6px;
    background-color: #00000000;
}

.interactive-into:hover{
    transition: 0.2s;
    background-color: rgba(110, 110, 110, 0.527);
    cursor: pointer;
}

.interactive-into-likes{
    width: 50%;
    display: flex;
}

.comment-send-button{
    background-color: #00000000;
}

.zone-interactive-publication-options{
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.comment-send{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.comment-send-button{
    padding: 5px;
    border-radius: 10px;
    transition: 0.2s;
}

.comment-send-button:hover{
    background-color: rgba(110, 110, 110, 0.527);
    transition: 0.2s;
}

.comment-send-button-press{
    transition: 0.2s;
    background-color: #ff0381b5;
}

.comment-send-button-press:hover{
    transition: 0.2s;
    background-color: #ff1c8db5;
}

.self-comment-on{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px rgba(255, 255, 255, 0.034);
    border-radius: 8px;
}

.self-comment-on:hover{
    border: solid 1px rgba(255, 255, 255, 0.068);
}

.read-more-comments{
    padding: 5px;
}

.read-more-comments:hover{
    width: auto;
    text-decoration: underline;
    cursor: pointer;
}

.comment-view{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

@media only screen and (max-width: 680px) {
    .image-review{
        margin-left: -35px;
    }
    .review-full{
        margin-left: -65px;
    }
    .del-publication{
        border-radius: 100%;
        font-size: 20px;
        position: absolute;
        margin-left: 90%;
        padding: 3px;
        transition: 0.2s;
        cursor: pointer;
    }
    .comment-view{
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .self-comment-on{
        display: flex;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: solid 1px rgba(255, 255, 255, 0.034);
        border-radius: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .publication-content {
        width: 100%;
        display: flex;
        padding: 0px;
        padding-bottom: 16px;
    }

    .publication-content .publication-text-content {
        padding: 5px;
        display: flex;
    }

    .content-post-review {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }

    .align-post-review {
        padding: 10px;
        text-align: center;
    }

    .input-search-movie {
        font-size: 14px;
    }

    textarea {
        font-size: 17px;
        height: auto;
    }

}