.nofitify-content-inside{
    cursor: pointer;
    width: 262px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    transition: 0.1s;
}

.nofitify-content-inside:hover{
    background-color: rgba(145, 145, 145, 0.404);
    transition: 0.1s;
}

.nofitify-content-inside p{
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 741px) {
    .nofitify-content-inside{
        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        font-size: 20px;
        transition: 0.1s;
    }
    
    .nofitify-content-inside:hover{
        background-color: rgba(145, 145, 145, 0);
        transition: 0.1s;
    }
    
    .nofitify-content-inside p{
        padding-left: 0px;
        padding-right: 0px;
    }
}