header {
    display: flex;
    background-color: #909090;
    padding: 20px;
}

header div {
    max-width: 1280px;
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

header img {
    width: 64px;
    height: 64px;
}

header div input {
    padding: 8px;
    border-radius: 8px;
    width: 335px;
    border: none;
    padding-left: 38px;
    font-size: 14px;
    color: #000000;
    outline: none;
    padding-right: 80px;
}

header div input.open {
    width: 100%;
    transition: width 1s ease;
}

header .form-close {
    position: relative;
    display: flex;
    align-items: center;
}

header .form-open {
    position: relative;
    width: max-content;
}

header .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
}

.contnet-config-search {
    display: block;
    position: absolute;
}

.option-conf-search-back {
    display: none;
    position: absolute;
    margin-left: 377px;
    padding: 8px;
    width: auto;
    border-radius: 8px;
    margin-top: 41px;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
    cursor: pointer;
}

.option-conf-search {
    position: absolute;
    margin-left: -50px;
    display: none;
    cursor: pointer;
}

.button-radio{
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
}

.select-bar-search{
    font-size: 14px;
    position: absolute;
    width: 55px;
    left: 385px;
    background-color: rgb(230, 230, 230);
    padding: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    height: 15.5px;
}

.select-bar-search:hover{
    background-color: rgb(240, 240, 240);
}

@media (max-width: 741px) {
    .select-bar-search{
        font-size: 14px;
        position: absolute;
        width: 55px;
        left: 86.4%;
        background-color: rgb(230, 230, 230);
        padding: 8px;
        height: 30px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        cursor: pointer;
        transition: 0.2s;
    }
}

@media (max-width: 760px) {

    header {
        background-color: #777777;
    }

    header .div-open {
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    header .img-open {
        display: none;
    }

    header input[type='text'] {
        height: 30px;
        font-size: 14px;
        padding-left: 30px;
        border-radius: 15px;
    }

    header .form-close {
        width: 100%;
        position: relative;
    }

    header .form-open {
        position: relative;
        width: max-content;
    }

    header .input-open {
        width: 80%;
    }

    .option-conf-search {
        display: flex;
        position: absolute;
        margin-left: -50px;
    }

    .option-conf-search {
        display: none;
    }

    .option-conf-search-back {
        display: block;
        right: -4px;
        bottom: -28px;
        padding: 8px;
        background-color: white;
        border-radius: 10px;
    }
    
}

@media (max-width: 400px) {
    .select-bar-search{
        font-size: 14px;
        position: absolute;
        width: 55px;
        left: 80%;
        background-color: rgb(230, 230, 230);
        padding: 8px;
        height: 30px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        cursor: pointer;
        transition: 0.2s;
    }
}